---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
---

<Base>
  <Nav />
  <main id="main">
    <h1 style="padding: 100px; font-size: 32px;">
      Taktonlabs scaffold
    </h1>
  </main>
</Base>
